//? menu button

.main-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 3;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        background-color: Set-textColor($Primary-Color);
        margin-bottom: 5px;
        @include easeOut;
    }

    // rotate in to x 
    &.close {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);

        .btn-line {

            //! Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg)translate(5px, 5px);
                -webkit-transform: rotate(45deg)translate(5px, 5px);
                -moz-transform: rotate(45deg)translate(5px, 5px);
                -ms-transform: rotate(45deg)translate(5px, 5px);
                -o-transform: rotate(45deg)translate(5px, 5px);
            }

            //! Line 2 - hide
            &:nth-child(2) {
                opacity: 0;
            }

            //! Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg)translate(7px, -6px);
                -webkit-transform: rotate(-45deg)translate(7px, -6px);
                -moz-transform: rotate(-45deg)translate(7px, -6px);
                -ms-transform: rotate(-45deg)translate(7px, -6px);
                -o-transform: rotate(-45deg)translate(7px, -6px);
            }
        }
    }
}

//? Menu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-brand,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($Primary-Color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
        }

        .nav-item {
            transform: translate3d(600px, 0, 0);
            -webkit-transform: translate3d(600px, 0, 0);
            -moz-transform: translate3d(600px, 0, 0);
            -ms-transform: translate3d(600px, 0, 0);
            -o-transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
            }

            &.active>a {
                color: $Secondry-Color;
            }


            .nav-link {
                display: inline-block;
                position: relative;
                font-size: 30px;
                text-transform: capitalize;
                padding: 1rem 0;
                font-weight: 500;
                text-decoration: none;
                @include easeOut;
                color: Set-textColor($Primary-Color);


                &:hover {
                    color: $Secondry-Color;
                }

            }

        }
    }

    &-brand {
        margin: 0;
        padding: 0;
        background: $Primary-Color;
        list-style: none;
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
        }

        .portaiat {
            width: 250px;
            height: 250px;
            @include BorderRadius;
            background: url("../img/46562690.png");
            background-size: cover;
            border: 3px solid $Secondry-Color;
            transform: rotate(20deg);

        }
    }
}

// Delay eachNavItem
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}