@import "config.scss";
@import "menu.scss";
@import "mobile.scss";

* {
    box-sizing: border-box;
}


body {
    background-color: $Primary-Color;
    color: #fff;
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    @include Background;
}

//? Heading

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: 500;

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 3rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($Primary-Color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.Text-Secondery {
    color: $Secondry-Color;
}

main {
    padding: 4rem;
    height: 100%;

    .icon {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $Secondry-Color;
                @include easeOut;
            }
        }

    }

    &#Home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}